# =================================================
# Ignore all audio files
# These are uploaded directly to the DigitalOcean Space
# and do not need to be in version control.
# =================================================
*.wav
*.mp3
*.ogg
*.7z
*.zip
*.tar.gz
*.flac
*.aac
*.m4a
*.aiff
*.alac
*.wma
*.dsd
*.dff
*.dsf
*.cue
*.iso
*.bin